<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoSport - Inicio de Sesión</title>
</head>
<body style="background-color: #111; color: white; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background-color: #1f1f1f; padding: 2rem; border-radius: 8px;">
        <h2 style="color: #00ff88;">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background-color: #00ff88; color: black; padding: 10px 20px; border: none; font-weight: bold; cursor: pointer;">Ingresar</button>
            <p style="text-align:center; margin-top:1rem; font-size:0.875rem; color:#9ca3af;">
                 ¿No tienes cuenta?
                <a href="/usuarios/registro/" style="color:#00ff88; font-weight:600;">Regístrate aquí</a>
            </p>
        </form>
    </div>
</body>
</html>
